﻿<br />
<div class="row">
    <div class="col-sm-8">
        <label>Select Month</label>
        <select id='ddlMonth'>
            <option value=''>--Select Month--</option>
            <option selected value='1'>Janaury</option>
            <option value='2'>February</option>
            <option value='3'>March</option>
            <option value='4'>April</option>
            <option value='5'>May</option>
            <option value='6'>June</option>
            <option value='7'>July</option>
            <option value='8'>August</option>
            <option value='9'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
        </select>
        <label>Select Year</label>
        <select id='ddlYear'>
            <option value=''>--Select Year--</option>
            <option selected value='2016'>2016</option>
            <option value='2015'>2015</option>  
        </select>

        <input type="button" id="btnSearch" value="Search" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12 text-left" id="stList">
        <iframe id="ifrmReport" width="100%" height="500px" style="border:0px"></iframe>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        
    });

    function ScheduledTravelReport() {
        
        $.ajax({
            type: "GET",
            url: "../../Reports/GetReport",
            data: { ReportType: "ScheduledTravel", Month: $("#ddlMonth").val(), Year: $("#ddlYear").val(), FromDate: "", ToDate: "" },
            success: function (result) {
                $.each(result, function (i, item) {
                    if (i == "FilePath") {
                        $('#ifrmReport').attr('src', 'http://@Request.Url.Host:@Request.Url.Port/Reports/' + item);
                    }
                });
            }
        });
    }

    $('input[type=button]').click(function (e) {

        ScheduledTravelReport();
    });

</script>

