﻿@model Cabs.Models.ReportsModels

@{
    ViewBag.Title = "ReportMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />


<div class="ModuleContainer">
    <div class="row">
        @*<div class="col-sm-2">
            @Html.Partial("../Shared/_MenuPartial");
        </div>*@
        <div class="col-sm-12">
            <div class="mContainer">
                @Html.Partial("_ScheduledTravelReportPartial");
            </div>
        </div>
    </div>
</div>


