﻿

<div id="carList">
        
</div>


<script type="text/javascript">

    $(document).ready(function () {

        var url = window.location;
        // Will only work if string in href matches with location
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');

        // Will also work for relative and absolute hrefs
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');

        CarList();
       
        function CarList() {
            $.ajax({
                type: "GET",
                url: "../../Account/AvailableCarList",
                success: function (result) {
                    var div = $('#carList');
                    div.html("<h3 class='page-header text-primary'>Available Car List</h3>");
                    if (result == "") {
                        var table = $('<table></table>').attr('id', 'table').addClass('table');
                        var head = $('<thead></thead>').html('</tr><th>Registration Number</th><th>Car Name</th><th>Model</th><th>Passenger Capacity</th></tr>');
                        var data = $('<tbody></tbody>').html('<tr><td colspan="4" style="text-align:center; color:red; font-weight:bold;">No Record Found</td></tr>');
                        table.append(head)
                        table.append(data)
                        div.append(table);
                    }
                    else {
                        var table = $('<table></table>').attr('id', 'table').addClass('table');
                        var head = $('<thead></thead>').html('<tr><th>Registration Number</th><th>Car Name</th><th>Model</th><th>Passenger Capacity</th></tr>');
                        table.append(head);
                        $.each(result, function (i, item) {
                            if (item.Message == "") {
                                var pc = item.PassengerCapacity;
                                if (pc == 0) {
                                    pc = "";
                                }
                                var data = $('<tr></tr>').html('<td>' + item.RegNo + '</td><td>' + item.CarName + '</td><td>' + item.CarModelName + '</td><td>' + pc + '</td>');
                                table.append(data);
                            }
                            else {
                                var data = $('<tr></tr>').html('<td colspan="4" style="text-align:center; color:red; font-weight:bold;">' + item.Message + '</td>');
                                table.append(data);
                            }
                        });
                        div.append(table);
                    }
                }
            });
        }

    });
</script>