﻿@model Cabs.Models.CarModel


<h3 id="hAddCar" class="page-header text-primary">Add Car</h3>


<div class="row">
    <div id="left" class="col-sm-4">
        @Html.LabelFor(model => model.RegNo)
        <div class="required-field-block">
            @Html.TextBoxFor(model => model.RegNo, new { @class = "form-control" })
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        @Html.LabelFor(model => model.CarName)
        <div class="required-field-block">
            @Html.TextBoxFor(model => model.CarName, new { @class = "form-control" })
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>
    </div>
</div>
<br />
   
<div class="row">
    <div class="col-sm-4">
         <div class="form-group">
                @Html.LabelFor(model => model.CarModelName)
              @Html.TextBoxFor(model => model.CarModelName, new { @class = "form-control" })
             </div>
        </div>
    <div class="col-sm-4">
         <div class="form-group">
             @Html.LabelFor(model => model.VechileYear)
                @Html.TextBoxFor(model => model.VechileYear, new { @class = "form-control", @type = "number" })

             </div>
        </div>

    </div>
<div class="row">
    <div class="col-sm-4">
         <div class="form-group">
                  @Html.LabelFor(model => model.VehicleColor)
            @Html.TextBoxFor(model => model.VehicleColor, new { @class = "form-control" })
             </div>
        </div>
    <div class="col-sm-4">
         <div class="form-group">
              @Html.LabelFor(model => model.Overall_Condition)
             
            @Html.DropDownListFor(model => model.Overall_Condition,
                    new SelectList(Enum.GetValues(typeof(Cabs.Models.CarModel.OverallCondition))),
                    "--Select--", new {@class = "form-control" })
             </div>
        </div>

    </div>
<div class="row">
    <div class="col-sm-4">
         <div class="form-group">
               @Html.LabelFor(model => model.PassengerCapacity)
               @Html.TextBoxFor(model => model.PassengerCapacity, new { @class = "form-control", @type = "number" })
             </div>
        </div>
    <div class="col-sm-4">
         <div class="form-group">
              @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
             </div>
        </div>

    </div>
        

 <div id="ButtonDiv" class="form-group">
            <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
            @Html.HiddenFor(model => model.hidCarId)
            <input type="submit" id="btnReset" value="Reset" class="btn btn-primary" />
 </div>
    



<div id="ResultDiv">
</div>

<script type="text/javascript">

    $(document).ready(function () {

    });


    $('input[type=submit]').click(function (e) {

        var clkbtn = $(this).attr('value');
        
        if (clkbtn == "Save") {

            $.ajax({
                type: "POST",
                url: "../../Account/InsertCar",
                data: {
                    CarId: $('#hidCarId').val(), CarName: $('#CarName').val(), CarModel: $('#CarModelName').val(),
                    PassengerCapacity: $('#PassengerCapacity').val(), RegistrationNo: $('#RegNo').val(),
                    Description: $('#Description').val(), VehicleColor: $('#VehicleColor').val(),
                    VechileYear: $('#VechileYear').val(), Overall_Condition: $('#Overall_Condition').val()
                },
                success: function (result) {
                    var div = $('#ResultDiv');
                    div.html("");
                    if (result == "") {
                        div.append("<div class='alert alert-danger'>There is a Problem, please try again</div>");
                    }
                    else {
                        $.each(result, function (i, item) {
                            if (item.Message == "") {
                                if ($('#hidCarId').val() != "") {
                                    div.append("<div class='alert alert-success'>Car Updated Successfully</div>");
                                }
                                else {
                                    div.append("<div class='alert alert-success'>Car Added Successfully</div>");
                                    $('#hidCarId').val(item.hidCarId);
                                }
                            }
                            else {
                                div.append("<div class='alert alert-danger'>" + item.Message + "</div>");
                            }
                        });
                    }
                }
            });

            if ($('#hidCarId').val() != "") {
                //_CarListPartial
                CarList(); 
            }

        }
        

        if (clkbtn == "Reset") {
            $('#hidCarId').val("");
            $('#RegNo').val("");
            $('#CarName').val("");
            $('#CarModelName').val("");
            $('#PassengerCapacity').val("");
            $('#Description').val("");

            $('#VehicleColor').val("");
            $('#VechileYear').val("");
            $('#Overall_Condition').val("");
        }
        
    });

    

</script>



