﻿

<h3 class="page-header text-primary">Car List</h3>
<div id="divPaging" class="divPagingCtrl">
    <label>Page No</label>
    <span id="curPage"></span>
    <label>of</label>
    <span id="totPage"></span>
    <input type="button" id="btnPrev" value="<<" />
    <input type="button" id="btnNext" value=">>" />
    <input type="number" id="txtPageNo" style="width: 50px;" />
    <input type="button" id="btnGo" value="Go" />
    <input type="hidden" id="hdnPageNo" />
</div>

<div id="carList">
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Car</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_CarPartial")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var url = window.location;
        // Will only work if string in href matches with location
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');

        // Will also work for relative and absolute hrefs
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');
       
        $("#curPage").text("1");
        $("#totPage").text("1");

        CarList();
    });

    $('input[type=button]').click(function (e) {

        var clkbtn = $(this).attr('id');
        switch (clkbtn) {
            case 'btnNext':

                var pN = $("#hdnPageNo").val();
                if (parseInt(pN) < parseInt($("#totPage").text())) {
                    $("#hdnPageNo").val(parseInt(pN) + 1);
                }
                else {
                    $("#hdnPageNo").val($("#totPage").text());
                }
                
                CarList();
                break;
            case 'btnPrev':
                var pN = $("#hdnPageNo").val();
                if (parseInt(pN) > 1) {
                    $("#hdnPageNo").val(parseInt(pN) - 1);
                }
                else {
                    $("#hdnPageNo").val("1");
                }
                CarList();
                break;
            case 'btnGo':
                var pN = $("#txtPageNo").val();
                if (parseInt(pN) > 0 && parseInt(pN) <= parseInt($("#totPage").text())) {
                    $("#hdnPageNo").val($("#txtPageNo").val());
                }
                else {
                    $("#hdnPageNo").val("1");
                }
                CarList();
                break;
            default:
                CarList();
        }  
    });

    function CarList() {

        if ($("#hdnPageNo").val() == "") {
            $("#hdnPageNo").val("1");
        }
        
        $.ajax({
            type: "GET",
            url: "../../Account/SearchCar",
            data: { PageNumber: $("#hdnPageNo").val(), PageSize: 10 },
            success: function (result) {
                var div = $('#carList');
                div.html("");
                if (result == "") {
                    var table = $('<table></table>').attr('id', 'table').addClass('table');
                    var head = $('<thead></thead>').html('</tr><th>Registration Number</th><th>Car Name</th><th>Model</th><th>Passenger Capacity</th></tr>');
                    var data = $('<tbody></tbody>').html('<tr><td colspan="4" style="text-align:center; color:red; font-weight:bold;">No Records Found</td></tr>');
                    table.append(head)
                    table.append(data)
                    div.append(table);
                }
                else {
                    var table = $('<table></table>').attr('id', 'table').addClass('table');
                    var head = $('<thead></thead>').html('<tr><th>Registration Number</th><th>Car Name</th><th>Model</th><th>Passenger Capacity</th><th>Action</th></tr>');
                    table.append(head);
                    $.each(result, function (i, item) {
                        if (i == 0) {
                            $("#curPage").text(item.PNumber);
                            $("#hdnPageNo").val(item.PNumber);
                            $("#totPage").text(item.TotalPageCount);
                        }
                        if (item.Message == "") {
                            var pc = item.PassengerCapacity;
                            if (pc == 0) {
                                pc = "";
                            }
                            var data = $('<tr></tr>').html('<td>' + item.RegNo + '</td><td>' + item.CarName + '</td><td>' + item.CarModelName + '</td><td>' + pc + '</td><td><a href="javascript:void(0)"><img id=' + item.CarId + ' alt="edit" src="../../../Images/edit-info.png" data-toggle="modal" data-target="#myModal" /></a></td>');
                            table.append(data);
                        }
                        else {
                            var data = $('<tr></tr>').html('<td colspan="5" style="text-align:center; color:red; font-weight:bold;">' + item.Message + '</td>');
                            table.append(data);
                        }
                    });
                    div.append(table);
                }
            }
        });
    }

    $("body").on("click", "img", function () {

        //_CarPartial

        var div = $('#ResultDiv');
        div.html("");

        $('#hidCarId').val(this.id);

        EditCar($('#hidCarId').val());

        $('#hAddCar').hide();

        $('#btnReset').hide();

    });


    function EditCar(CarId) {
        $.ajax({
            type: "GET",
            url: "../../Account/EditCar",
            data: { CarId: CarId },
            success: function (result) {
                $.each(result, function (i, item) {

                    $('#RegNo').val(item.RegNo);
                    $('#CarName').val(item.CarName);
                    $('#CarModelName').val(item.CarModelName);
                    if (item.PassengerCapacity != 0) {
                        $('#PassengerCapacity').val(item.PassengerCapacity);
                    }
                    $('#Description').val(item.Description);
                    $('#VehicleColor').val(item.VehicleColor);
                    $('#VechileYear').val(item.VechileYear);

                    $("#Overall_Condition option:selected").text(item.OlCondition);

                });
            }
        });
    }

    
</script>