﻿<br />
<div class="row">
    <div class="col-sm-12 text-left" id="stList">
        
    </div>
</div>


<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Employee List</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_EmployeePartial")
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        EmployeeList();

        function EmployeeList() {
            $.ajax({
                type: "GET",
                url: "../../Account/EmployeeList",
                success: function (result) {
                    var div = $('#stList');
                    div.html("<div><label>Employee List</label></div>");
                    if (result == "") {
                        var table = $('<table></table>').attr('id', 'table').addClass('table');
                        var head = $('<thead></thead>').html('</tr><th>First Name</th><th>Last Name</th><th>Active</th><th></th></tr>');
                        var data = $('<tbody></tbody>').html('<tr><td colspan="4" style="text-align:center; color:red; font-weight:bold;">No Records Found</td></tr>');                       
                        table.append(head)
                        table.append(data)
                        div.append(table);
                    }
                    else {
                        var table = $('<table></table>').attr('id', 'table').addClass('table');
                        var head = $('<thead></thead>').html('<tr><th>First Name</th><th>Last Name</th><th>DOB</th><th>Gender</th><th>Address</th><th>City</th><th>Phone</th><th>Zip</th><th>State</th><th>Remarks</th></tr>');
                        table.append(head);
                        $.each(result, function (i, item) {
                            if (item.Message == "") {
                                var Fn = "<input type='hidden' id='First Name-" + item.Employeeid + "' name='First Name-" + item.Employeeid + "' value='" + item.FirstName + "' />";
                                var Ln = "<input type='hidden' id='Last Name-" + item.Employeeid + "' name='Last Name-" + item.Employeeid + "' value='" + item.LastName + "' />";
                                var Db = "<input type='hidden' id='DOB-" + item.Employeeid + "' name='DOB-" + item.Employeeid + "' value='" + item.Dob + "' />";
                                var Gr = "<input type='hidden' id='Gender-" + item.Employeeid + "' name='Gender-" + item.Employeeid + "' value='" + item.Gender + "' />";
                                var Ad = "<input type='hidden' id='Address-" + item.Employeeid + "' name='Address-" + item.Employeeid + "' value='" + item.Address + "' />";
                                var Cy = "<input type='hidden' id='City-" + item.Employeeid + "' name='City-" + item.Employeeid + "' value='" + item.City + "' />";
                                var Zp = "<input type='hidden' id='Zip-" + item.Employeeid + "' name='Zip-" + item.Employeeid + "' value='" + item.Zip + "' />";
                                var Ph = "<input type='hidden' id='Phone-" + item.Employeeid + "' name='Phone-" + item.Employeeid + "' value='" + item.Phone + "' />";
                                var St = "<input type='hidden' id='State-" + item.Employeeid + "' name='State-" + item.Employeeid + "' value='" + item.State + "' />";
                                var Rm = "<input type='hidden' id='Remarks-" + item.Employeeid + "' name='Remarks-" + item.Employeeid + "' value='" + item.Remarks + "' />";
                                var data = $('<tbody></tbody>').html('<tr><td>' + item.FirstName + '</td><td>' + item.LastName + '</td><td>' + item.Dob + '</td><td>' + item.Gender + '</td><td>' + item.Address + '</td><td>' + item.City + '</td><td>' + item.Zip + '</td><td>' + item.Phone + '</td><td>' + item.State + '</td><<td>' + item.Remarks + '</td>td><a href="javascript:void(0)"><img id=' + item.Employeeid + ' alt="edit" src="../../../Images/edit-info.png" /></a>' + Fn + Ln + Db + Gr + Ad + Cy + Zp + Ph + St + Rm + '</td></tr></tbody>');
                                //var data = $('<tbody></tbody>').html('<tr><td>' + item.FirstName + '</td><td>' + item.LastName + '</td><td>' + item.Dob + '</td><td>' + item.Gender + '</td><td>' + item.Address + '</td><td>' + item + '</td><td>' + item.Address + '</td><td>' + item.Address + '</td><td><a href="javascript:void(0)"><img id=' + item.Employeeid + ' alt="edit" src="../../../Images/edit-info.png" /></a>' + Fn + Ln + Db + Gr + Ad + '</td></tr></tbody>');
                                table.append(data);
                            }
                            else {
                                var data = $('<tr></tr>').html('<td colspan="5" style="text-align:center; color:red; font-weight:bold;">' + item.Message + '</td>');
                                table.append(data);
                            }
                        });
                        div.append(table);
                    }
                }
            });
        }

       });
</script>

