﻿@model Cabs.Models.EmployeeModel


<br />
<br />
<h2 class="page-header text-primary">Employee</h2>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName)
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <br />
             @Html.LabelFor(model => model.Male)
             @Html.RadioButtonFor(model => model.Gender,"Male")  
             @Html.LabelFor(model => model.Female)
             @Html.RadioButtonFor(model => model.Gender,"Female")             
        </div>
        </div> 
</div>

<div class="row">
     
           
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Dob)
            @Html.TextBoxFor(model => model.Dob, new { @class = "form-control", @type = "date" })
        </div>
    </div>
      <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Phone)
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
        </div>
    </div>
     <div class="col-sm-4">
        <div class="form-group">
            <br />
            @Html.LabelFor(model => model.Active)
            @Html.CheckBoxFor(model => model.ActiveValue,true)
      
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Address)
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        </div>
    </div>
     <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.City)
            @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        </div> 
</div>

<div class="row"> 
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.State)
            @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
        </div>
    </div>
     <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Zip)
            @Html.TextBoxFor(model => model.Zip, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        </div> 
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            @Html.LabelFor(model => model.Remarks)
            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
    </div>
</div>

<div class="row">
  
    <div id="ButtonDiv" class="col-sm-4">
        @if (ViewData["PartialView"] != null)
        {
            if (ViewData["PartialView"].ToString() == "Employee")
            {
                <input type="submit" value="Save" class="btn btn-info btn-lg" data-toggle="modal" data-target="#msgModal" />
            }
            else
            {
                <input type="submit" value="Save" class="btn btn-info btn-lg"  />
            }
        }   
        @Html.HiddenFor(model => model.hid)
    </div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
    </div>
</div>


<div id="ResultDiv">
</div>

<script type="text/javascript">

    $(document).ready(function () {

        EmployeeList();
       
        $('input[type=submit]').click(function (e) {

            $.ajax({
                type: "POST",
                url: "../../Account/InsertEmployee",
                data: { Employeeid: $('#hid').val(), FirstName: $('#FirstName').val(), LastName: $('#LastName').val(), Gender: $('#Gender').val(), Dob: $('#Dob').val(), Phone: $('#Phone').val(), ActiveValue: $('#ActiveValue').val(), Address: $('#Address').val(), City: $('#City').val(), State: $('#State').val(), Zip: $('#Zip').val(), Remarks: $('#Remarks').val() },
                success: function (result) {
                    var div = $('#ResultDiv');
                    if (result == "") {
                        div.append("<h3 style='color:red; font-weight:normal;'>There is a Problem, please try again</h3>");
                    }
                    else {
                        $.each(result, function (i, item) {
                            if (item.Message == "") {
                                div.append("<div id='msgDiv' style='color:red; font-weight:normal;'>Employee Added Successfully</div>");
                                $("#msgDiv").fadeOut(3000);
                            }
                            else {
                                div.append("<div id='msgDiv' style='color:red; font-weight:normal;'>" + item.Message + "</div>");
                                $("#msgDiv").fadeOut(3000);
                            }
                        });
                    }
                }
            });

          
            if ($('#hid').val() != "") {
                EmployeeList();
            }

         });

        //$("body").on("click", "img", function () {

        //    $('#hid').val(this.id);

        //    $('#FirstName').val($('#FirstName-' + this.id).val());
        //    $('#LastName').val($('#LastName-' + this.id).val());
        //    $('#Gender').val($('#Gender-' + this.id).val());
        //    $('#Remarks').val($('#Remarks-' + this.id).val());
        //    $('#ActiveValue').val($('#ActiveValue-' + this.id).val());
        //    $('#Phone').val($('#Phone-' + this.id).val());
        //    $('#Address').val($('#Address-' + this.id).val());
        //    $('#City').val($('#City-' + this.id).val());
        //    $('#State').val($('#State-' + this.id).val());
        //    $('#Zip').val($('#Zip-' + this.id).val());
        //    $('#Dob').val($('#Dob-' + this.id).val());



        //});

       
        function EmployeeList() {
            $.ajax({
                type: "GET",
                url: "../../Account/EmployeeList",
                success: function (result) {
                    var div = $('#stList');
                    div.html("<div><label>Employee List</label></div>");
                    if (result == "") {
                        var table = $('<table></table>').attr('id', 'table').addClass('table');
                        var head = $('<thead></thead>').html('</tr><th>First Name</th><th>Last Name</th><th>Active</th><th></th></tr>');
                        var data = $('<tbody></tbody>').html('<tr><td colspan="4" style="text-align:center; color:red; font-weight:bold;">No Records Found</td></tr>');
                        table.append(head)
                        table.append(data)
                        div.append(table);
                    }
                    else {
                        var table = $('<table></table>').attr('id', 'table').addClass('table');
                        var head = $('<thead></thead>').html('<tr><th>First Name</th><th>Last Name</th><th>DOB</th><th>Gender</th><th>Address</th><th>City</th><th>Phone</th><th>Zip</th><th>State</th><th>Remarks</th></tr>');
                        table.append(head);
                        $.each(result, function (i, item) {
                            if (item.Message == "") {
                                var Fn = "<input type='hidden' id='First Name-" + item.Employeeid + "' name='First Name-" + item.Employeeid + "' value='" + item.FirstName + "' />";
                                var Ln = "<input type='hidden' id='Last Name-" + item.Employeeid + "' name='Last Name-" + item.Employeeid + "' value='" + item.LastName + "' />";
                                var Db = "<input type='hidden' id='DOB-" + item.Employeeid + "' name='DOB-" + item.Employeeid + "' value='" + item.Dob + "' />";
                                var Gr = "<input type='hidden' id='Gender-" + item.Employeeid + "' name='Gender-" + item.Employeeid + "' value='" + item.Gender + "' />";
                                var Ad = "<input type='hidden' id='Address-" + item.Employeeid + "' name='Address-" + item.Employeeid + "' value='" + item.Address + "' />";
                                var At = "<input type='hidden' id='Active-" + item.Employeeid + "' name='Active-" + item.Employeeid + "' value='" + item.ActiveValue + "' />";
                                var Cy = "<input type='hidden' id='City-" + item.Employeeid + "' name='City-" + item.Employeeid + "' value='" + item.City + "' />";
                                var Zp = "<input type='hidden' id='Zip-" + item.Employeeid + "' name='Zip-" + item.Employeeid + "' value='" + item.Zip + "' />";
                                var Ph = "<input type='hidden' id='Phone-" + item.Employeeid + "' name='Phone-" + item.Employeeid + "' value='" + item.Phone + "' />";
                                var St = "<input type='hidden' id='State-" + item.Employeeid + "' name='State-" + item.Employeeid + "' value='" + item.State + "' />";
                                var Rm = "<input type='hidden' id='Remarks-" + item.Employeeid + "' name='Remarks-" + item.Employeeid + "' value='" + item.Remarks + "' />";
                                var data = $('<tbody></tbody>').html('<tr><td>' + item.FirstName + '</td><td>' + item.LastName + '</td><td>' + item.Dob + '</td><td>' + item.Gender + '</td><td>' + item.Address + '</td><td>' + item.City + '</td><td>' + item.Zip + '</td><td>' + item.Phone + '</td><td>' + item.State + '</td><<td>' + item.Remarks + '</td>td><a href="javascript:void(0)"><img id=' + item.Employeeid + ' alt="edit" src="../../../Images/edit-info.png" /></a>' + Fn + Ln + Db + Gr + Ad + Cy +Zp +Ph +St +Rm + '</td></tr></tbody>');
                                table.append(data);
                            }
                            else {
                                var data = $('<tbody></tbody>').html('<tr><td colspan="4"></td></tr>');
                                table.append(data);
                            }
                        });
                        div.append(table);
                    }
                }
            });
        }

      });
</script>

