﻿

<div class="content-row">
    <div class="content-col">
        <div id="stList">

        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        ScheduleList();

        function ScheduleList() {
            $.ajax({
                type: "GET",
                url: "../../Account/ScheduleTravelList",
                success: function (result) {
                    var div = $('#stList');
                    div.html("<div><label>Schedulded Travel List</label></div>");
                    if (result == "") {
                        div.append("<table><thead><tr><th>Car Name</th><th>Model</th><th>Passenger Capacity</th><th></th></tr></thead><tr><td colspan='4'></td></tr></table>");
                    }
                    else {
                        div.append("<table>");
                        div.append("<thead><tr><th>Car Name</th><th>Travel Date</th><th>Travel Time</th><th>From Location</th><th>To Location</th><th>Km Travelled</th><th>In Time</th><th>Out Time</th><th>Status</th><th>Action</th></tr></thead>");
                        $.each(result, function (i, item) {
                            if (item.Message == "") {
                                div.append("<tbody><tr><td>" + item.CarName + "</td><td>" + item.StDate + "</td><td>" + item.StTime + "</td><td>" + item.FromLocation + "</td><td>" + item.ToLocation + "</td><td>" + item.KmT + "</td><td>" + item.InTime + "</td><td>" + item.OutTime + "</td><td>" + item.Status + "</td><td></td></tr></tbody>");
                            }
                            else {
                                div.append("<tbody><tr><td colspan='4'></td></tr></tbody>");
                            }
                        });
                        div.append("</table>");
                    }
                }
            });
        }

    });

</script>