﻿
<h3 class="page-header text-primary">Schedulded Travel List</h3>
<div id="divPaging" class="divPagingCtrl">
    <label>Page No</label>
    <span id="curPage"></span>
    <label>of</label>
    <span id="totPage"></span>
    <input type="button" id="btnPrev" value="<<" />
    <input type="button" id="btnNext" value=">>" />
    <input type="number" id="txtPageNo" style="width: 50px;" />
    <input type="button" id="btnGo" value="Go" />
    <input type="hidden" id="hdnPageNo" />
</div>

<div id="stList">
        
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Scheduled Travel</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("ScheduleTravelPartial")
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        var url = window.location;
        // Will only work if string in href matches with location
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');

        // Will also work for relative and absolute hrefs
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');

        $("#curPage").text("1");
        $("#totPage").text("1");

        ScheduleList();
    });

    $('input[type=button]').click(function (e) {

        var clkbtn = $(this).attr('id');
        switch (clkbtn) {
            case 'btnNext':

                var pN = $("#hdnPageNo").val();
                if (parseInt(pN) < parseInt($("#totPage").text())) {
                    $("#hdnPageNo").val(parseInt(pN) + 1);
                }
                else {
                    $("#hdnPageNo").val($("#totPage").text());
                }

                ScheduleList();
                break;
            case 'btnPrev':
                var pN = $("#hdnPageNo").val();
                if (parseInt(pN) > 1) {
                    $("#hdnPageNo").val(parseInt(pN) - 1);
                }
                else {
                    $("#hdnPageNo").val("1");
                }
                ScheduleList();
                break;
            case 'btnGo':
                var pN = $("#txtPageNo").val();
                if (parseInt(pN) > 0 && parseInt(pN) <= parseInt($("#totPage").text())) {
                    $("#hdnPageNo").val($("#txtPageNo").val());
                }
                else {
                    $("#hdnPageNo").val("1");
                }
                ScheduleList();
                break;
            default:
                ScheduleList();
        }
    });

    function ScheduleList() {

        if ($("#hdnPageNo").val() == "") {
            $("#hdnPageNo").val("1");
        }

        $.ajax({
            type: "GET",
            url: "../../Account/ScheduleTravelSearch",
            data: { PageNumber: $("#hdnPageNo").val(), PageSize: 10 },
            success: function (result) {
                var div = $('#stList');
                div.html("");
                if (result == "") {
                    var table = $('<table></table>').attr('id', 'table').addClass('table');
                    var head = $('<thead></thead>').html('<th>Car Name</th><th>Travel Date</th><th>Travel Time</th><th>From Location</th><th>To Location</th><th>Status</th>');
                    var data = $('<tbody></tbody>').html('<tr><td colspan="6" style="text-align:center; color:red; font-weight:bold;">No Record Found</td></tr>');
                    table.append(head)
                    table.append(data)
                    div.append(table);
                }
                else {
                    var table = $('<table></table>').attr('id', 'table').addClass('table');
                    var head = $('<thead></thead>').html('<th>Car Name</th><th>Travel Date</th><th>Travel Time</th><th>From Location</th><th>To Location</th><th>Status</th><th>Action</th>');
                    table.append(head)
                    $.each(result, function (i, item) {
                        if (i == 0) {
                            $("#curPage").text(item.PNumber);
                            $("#hdnPageNo").val(item.PNumber);
                            $("#totPage").text(item.TotalPageCount);
                        }
                        if (item.Message == "") {
                            var data = $('<tr></tr>').html('<td>' + item.CarName + '</td><td>' + item.StDate + '</td><td>' + item.StTime + '</td><td>' + item.FromLocation + '</td><td>' + item.ToLocation + '</td><td>' + item.Status + '</td><td><a href="javascript:void(0)"><img id=' + item.ScheduleTravelId + ' alt="edit" src="../../../Images/edit-info.png" data-toggle="modal" data-target="#myModal" /></a></td>')
                            table.append(data)
                        }
                        else {
                            var data = $('<tr></tr>').html('<td colspan="7" style="text-align:center; color:red; font-weight:bold;">' + item.Message + '</td>');
                            table.append(data)
                        }
                    });
                    div.append(table);
                }
            }
        });
    }

    $("body").on("click", "img", function () {

        $('#msgDiv').html("");

        $('#hid').val(this.id);

        ScheduleTravelEdit($('#hid').val());

        $('#hstravel').hide();

    });


    function ScheduleTravelEdit(ScheduleTravelId) {
            
        $.ajax({
            type: "GET",
            url: "../../Account/ScheduleTravelEdit",
            data: { ScheduleTravelId: ScheduleTravelId },
            success: function (result) {
                $.each(result, function (i, item) {

                    $("#CarId option[value='" + item.CarId + "']").attr("selected", "selected");

                    var dateVar = item.StDate;
                    var dSplit = dateVar.split('-');

                    $('#TravelTime').val(item.StTime);
                    $('#TravelDate').val(dSplit[2] + '-' + dSplit[1] + '-' + dSplit[0]);

                    $('#FromLocation').val(item.FromLocation);
                    $('#ToLocation').val(item.ToLocation);

                    $('#InTime').val(item.InTime);
                    $('#OutTime').val(item.OutTime);

                    $('#DriverName').val(item.DriverName);
                    $('#DriverContactNo').val(item.DriverContactNo);

                    $('#KmTravelled').val(item.KmT);
                    $('#Remarks').val(item.Remarks);
                });
            }
        });
            
    }

</script>

