﻿@model Cabs.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="fill" style="background-image: url(../../Images/Car4.jpg); height:100%">
    <div class="container">
        <br />
        <br />
    <div class="row">
        <div class="col-sm-3 text-left">
            <h2>Login</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })                        
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-info btn-lg" />
                </div>
            }
            </div>
    </div>
        </div>
    
</div>






