﻿@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="ModuleContainer">

    <div class="mContainer">

        @if (ViewData["PartialView"] != null)
        {
            switch (ViewData["PartialView"].ToString())
            {
                case "AddCar":
                    if (Cabs.Models.DataAccess.SecurityContext.CurrentSecurityContext.Role == "Admin")
                    { @Html.Partial("_CarPartial");
                    }
                    break;
                case "ViewCars":
                    if (Cabs.Models.DataAccess.SecurityContext.CurrentSecurityContext.Role == "Admin")
                    { @Html.Partial("_CarListPartial");
                    }
                    break;
                case "ScheduleTravel":
                    if (Cabs.Models.DataAccess.SecurityContext.CurrentSecurityContext.Role == "Admin")
                    { @Html.Partial("ScheduleTravelPartial");
                    }
                    break;
                case "ViewScheduledTravel":
                    if (Cabs.Models.DataAccess.SecurityContext.CurrentSecurityContext.Role == "Admin")
                    { @Html.Partial("_ScheduleTravelListPartial");
                    }
                    break;
                case "AvailableCars":
                    if (Cabs.Models.DataAccess.SecurityContext.CurrentSecurityContext.Role == "Admin")
                    { @Html.Partial("_AvailableCarPartial");
                    }
                    break;
                case "InOutTime":
                    if (Cabs.Models.DataAccess.SecurityContext.CurrentSecurityContext.Role == "Security")
                    { @Html.Partial("_InOutTimePartial");
                    }
                    break;
                case "Employee":
                    if (Cabs.Models.DataAccess.SecurityContext.CurrentSecurityContext.Role == "Admin")
                    {
                        @Html.Partial("_EmployeePartial");
                    }
                    break;
                case "EmployeeList":
                    if (Cabs.Models.DataAccess.SecurityContext.CurrentSecurityContext.Role == "Admin")
                    {
                        @Html.Partial("_EmployeeListPartial");
                    }
                    break;  
                default:
                    break;
            }

        }
        else{
            <br />
            <br />
            <br />
            <div class="alert alert-danger">
                @Html.ValidationSummary(true)
            </div>
        }
    </div> 

</div>

