﻿@model Cabs.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        //Layout page li
        $('#liTimings').removeClass('active');
        $('#liHome').removeClass('active');
        $('#liRegister').addClass('active');
        $('#liAccount').removeClass('active');
        $('#liAbout').removeClass('active');
        $('#liContact').removeClass('active');
    });
</script>

<br />
<br />
<div class="container">
<div class="row">

    <div class="col-sm-12 text-left">
            <h3 class="page-header text-primary">Register</h3>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

    
                <div class="form-group">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.LabelFor(m => m.Password)
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        <br />
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            }
    </div>

</div>
</div>