﻿@model Cabs.Models.ScheduleTravelModel


<h3 id="hstravel" class="page-header text-primary">Schedule Travel</h3>
<div class="row">
    <div class="col-sm-4">
        @Html.Label("Select Car")
        <div class="required-field-block">
            @Html.DropDownList("CarId", new SelectList(ViewBag.CarList, "CarId", "Name"), "--Select--", new { @class = "form-control" })
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.TravelDate)
            @Html.TextBoxFor(model => model.TravelDate, new { @class = "form-control", @type = "date" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.TravelTime)<br />
            @Html.EditorFor(m => m.TravelTime, new { type = "text", id = "TravelTime" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.InTime)
            @Html.TextBoxFor(model => model.InTime, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.FromLocation)
            @Html.TextBoxFor(model => model.FromLocation, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.ToLocation)
            @Html.TextBoxFor(model => model.ToLocation, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.OutTime)
            @Html.TextBoxFor(model => model.OutTime, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.DriverName)
            @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.DriverContactNo)
            @Html.TextBoxFor(model => model.DriverContactNo, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.KmTravelled)
            @Html.TextBoxFor(model => model.KmTravelled, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Remarks)
            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
    </div>
</div>

<div class="row">
    <div id="ButtonDiv" class="col-sm-4">
        <input type="submit" value="Save" class="btn btn-primary"  />   
        @Html.HiddenFor(model => model.hid)
    </div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
    </div>
</div>


<div id="msgDiv">
    
</div>



<script type="text/javascript">

    $(document).ready(function () {

        var url = window.location;
        // Will only work if string in href matches with location
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');

        // Will also work for relative and absolute hrefs
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');    

    });

    $('input[type=submit]').click(function (e) {

        if (Validate()) {

            $.ajax({
                type: "POST",
                url: "../../Account/InsertScheduleTravel",
                data: { ScheduleTravleId: $('#hid').val(), CarId: $('#CarId').val(), TravelDate: $('#TravelDate').val(), TravelTime: $('#TravelTime').val(), FromLocation: $('#FromLocation').val(), ToLocation: $('#ToLocation').val(), DName: $('#DriverName').val(), DContactNo: $('#DriverContactNo').val(), Remarks: $('#Remarks').val() },
                success: function (result) {
                    var div = $('#msgDiv');
                    div.html("");
                    div.append("<br/>");
                    if (result == "") {
                        div.append("<div class='alert alert-danger'>There is a Problem, please try again</div>");
                    }
                    else {
                        $.each(result, function (i, item) {
                            if (item.Message == "") {
                                if ($('#hid').val() != "") {
                                    div.append("<div class='alert alert-success'>Travel schedule Updated</div>");
                                }
                                else {
                                    div.append("<div class='alert alert-success'>Travel scheduled</div>");
                                }

                            }
                            else {
                                div.append("<div class='alert alert-danger'>" + item.Message + "</div>");
                            }
                        });
                    }
                }
            });

            if ($('#hid').val() != "") {
                ScheduleList();
            }

        }
        
    });

    function Validate() {

        var div = $('#msgDiv');
        var msg = "";

        if ($('#CarId').val() == "") {
            msg += "Car is required,  "   
        }

        if ($('#TravelDate').val() == "") {
            msg += "Date is required,  "
        }

        if ($('#TravelTime').val() == "") {
            msg += "Time is required,  "
        }

        if ($('#FromLocation').val().trim() == "") {
            msg += "From Location is required,  "
        }

        if ($('#ToLocation').val().trim() == "") {
            msg += "To Location is required,  "
        }

        if ($('#DriverName').val().trim() == "") {
            msg += "Driver Name is required,  "
        }

        if ($('#DriverContactNo').val().trim() == "") {
            msg += "Driver ContactNo is required,  "
        }


        if (msg != "") {
            div.html("<br/><div class='alert alert-danger'><b>Please give input for all the below mandatory fields:</b><br/>" + msg + "</div>");
            return false;
        }

        return true;
    }

</script>


