﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Cab</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/bootstrap.min.css")

    @Styles.Render("~/Content/full-slider.css")

    @Scripts.Render("~/Scripts/jquery-1.11.1.min.js")

    @Scripts.Render("~/Scripts/jquery.cookie.js")

    @Scripts.Render("~/Scripts/bootstrap.min.js")

    @Styles.Render("~/Content/prodStyle.css")
   
    <script>
        $(document).ready(function () {

            $('#btnMenu').click(function (e) {
                $('#divMenu').css('display', 'block');
            });

            $(".nav a").on("click", function () {
                $(".nav").find(".active").removeClass("active");
                $(this).parent().addClass("active");
            });

            $(".li a").on("click", function () {
                $(".li").find(".selected").removeClass("selected");
                $(this).parent().addClass("selected");
            });
        });

        $(function () {
            $('.required-icon').tooltip({
                placement: 'left',
                title: 'Required field'
            });
        });

    </script>

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li id="liHome"><a href="http://@Request.Url.Host:@Request.Url.Port/">Home</a></li>
                    @*<li id="liRegister"><a href="/Account/Register">Register</a></li>*@
                    <li id="liAccount"><a href="/Cabs/Account">Account</a></li>
                    <li id="liAbout"><a href="#">About</a></li>
                    <li id="liContact"><a href="#">Contact</a></li>
                    <li id="liTimings"><a href="/Cabs/TravelDetails">Travel Timings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </nav>
    
    @RenderBody()

    @RenderSection("featured", required: false)
    @RenderSection("alert", required: false)

    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)

    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="background-color: #34495E; color: #fff; border-radius: .4em; width: 500px;">
                <div class="modal-header">
                    <button type="button" id="btnC" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("../Shared/_Login")
                </div>
            </div>
        </div>
    </div>

    <footer><div class="container text-center">&copy; Copy Rights Reserved @System.DateTime.Now.Year</div></footer>
</body>
</html>
