﻿
@if(!Cabs.Models.DataAccess.SecurityContext.IsSessionActive())
{
    @*<a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
        <span class="glyphicon glyphicon-log-in" ></span> Login
    </a>*@
    
    <a href="http://@Request.Url.Host:@Request.Url.Port/Cabs/Login">
        <span class="glyphicon glyphicon-log-in" ></span> Login
    </a>
}
else
{
    <a id="logout" href="http://@Request.Url.Host:@Request.Url.Port/Account/Logout">Log Out</a> 
}
