﻿@model Cabs.Models.LoginModel


<div class="row">
    <div class="col-sm-8 text-left">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })                        
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-info btn-lg" />
                </div>
            }
    </div>
</div>