﻿
<div id="divpMenu" class="LeftMenu">
</div>

<input type="hidden" id="hidMenu" />


<script type="text/javascript">

    $(document).ready(function () {

        //Layout page li
        $('#liTimings').removeClass('active');
        $('#liHome').removeClass('active');
        $('#liRegister').removeClass('active');
        $('#liAccount').addClass('active');
        $('#liAbout').removeClass('active');
        $('#liContact').removeClass('active');

        MenuList();
    });

    $(document).ajaxStart(function () {
        $("#wait").css("display", "block"); 
    });
    $(document).ajaxComplete(function () {
        $("#wait").css("display", "none");
    });

    function MenuList() {
        $.ajax({
            type: "GET",
            url: "../../Common/MenuList",
            success: function (result) {
                var div = $('#divpMenu');

                var mH = $('<div></div>').html("<ul id='nav nav-sidebar' class='nav nav-sidebar menu-title'><li id='menu-toggle'><span class='float-left'><br/>&nbsp;&nbsp;&nbsp;&nbsp;Main Menu</span><input type='button' id='input-toggle-left' class='btn btn-inverse toggle-button-right' value='<<' /></li></ul>")
                div.append(mH);
               
                var ul = $('<ul></ul>').attr('id', 'ulMenu');
                var li;
                var mName;

                $.each(result, function (i, item) {

                    if (mName != item.ModuleName) {
                        mName = item.ModuleName;
                        li = $('<li class="toggle" id=mli' + item.ModuleName + '></li>').html('<a href="javascript:void(0)"><b>' + item.ModuleName + '</b></a>');
                        ul.append(li);
                    }

                    li = $('<li class="Normal" id=li-' + item.MenuId + '></li>').html('<a id=a-' + item.MenuId + ' href="javascript:void(0)" url=' + item.Url + ' title=' + item.MenuName + '>' + item.MenuName + '</a>');
                    ul.append(li);
                });
                div.append(ul);
                
            }
        });
    }


    $("#divpMenu").on("click", "li", function () {

        if ($(this).attr('id') == 'menu-toggle') {
            $('#side-menu').animate({
                opacity: 'fast', // animate fadeOut
                width: 'hide'  // animate slideUp
            }, 'fast', 'linear', function () {
                //$(this).remove();
            });
            $('#div-content').removeClass('col-md-10').addClass('col-sm-12');
            $('#hidden-menu').show();
        }
        else if ($(this).attr('class') == 'toggle') {
            $(this).nextUntil($("li.toggle"), "li").toggle("fast");
        }
        else {

            $('#hidMenu').val(this.id);
            $(this).removeClass('Normal');
            $(this).addClass('Selected');
            $('#' + $('#hidMenu').val().replace("li-", "a-")).addClass('Selected');
            $.cookie("chidMenu", $("#hidMenu").val(), { path: '/' });

            MenuSel();

            var url = $('#' + $('#hidMenu').val().replace("li-", "a-")).attr("url");
            
            $.get(url, function (data) {
                $('#divContainer').html("<br/>" + data + "<br/>");
            });

        }
    });


    function MenuSel() {
        if ($.cookie("chidMenu") != null) {
            var selMenu = $.cookie("chidMenu");

            $("li").removeClass("Selected");
            $("a").removeClass("Selected");

            $('#' + selMenu).removeClass('Normal');
            $('#' + selMenu).addClass('Selected');
            $('#' + selMenu.replace("li-", "a-")).addClass('Selected');

            $.removeCookie("chidMenu", { path: '/' });
        }
    }

    //$(window).resize(setDivVisibility);
    //function setDivVisibility() {
    //    if (($(window).width()) < '1000') {
    //        $('#divpMenu').css('display', 'none');
    //    } else {
    //        $('#divpMenu').css('display', 'block');
    //    }
    //}

</script>
