﻿<script type="text/javascript">

    $(document).ready(function () {

        ScheduleList();

    });

    function ScheduleList() {
        $.ajax({
            type: "POST",
            url: "../../Account/ScheduleTravelList",
            success: function (result) {
                var div = $('#stList');
                div.html("<h3 class='page-header text-primary'>Schedulded Travel List</h3>");
                if (result == "") {
                    var table = $('<table></table>').attr('id', 'table').addClass('table table-striped');
                    var head = $('<thead></thead>').html('<th>Car Name</th><th>Travel Date</th><th>Travel Time</th><th>From Location</th><th>To Location</th><th>In Time</th><th>Out Time</th><th>Status</th>');
                    var data = $('<tbody></tbody>').html('<tr><td colspan="8"></td></tr>');
                    table.append(head)
                    table.append(data)
                    div.append(table);
                }
                else {
                    var table = $('<table></table>').attr('id', 'table').addClass('table table-striped');
                    var head = $('<thead></thead>').html('<th>Car Name</th><th>Travel Date</th><th>Travel Time</th><th>From Location</th><th>To Location</th><th>In Time</th><th>Out Time</th><th>Status</th>');
                    table.append(head)
                    $.each(result, function (i, item) {
                        if (item.Message == "") {
                            var data = $('<tbody></tbody>').html('<tr><td>' + item.CarName + '</td><td>' + item.StDate + '</td><td>' + item.StTime + '</td><td>' + item.FromLocation + '</td><td>' + item.ToLocation + '</td><td>' + item.InTime + '</td><td>' + item.OutTime + '</td><td>' + item.Status + '</td></tr>')
                            table.append(data)
                        }
                        else {
                            var data = $('<tbody></tbody>').html('<tr><td colspan="8"></td></tr>');
                            table.append(data)
                        }
                    });
                    div.append(table);
                }
            }
        });
    }

</script>

