﻿@model Cabs.Models.TravelTimingModels


<h3 class="page-header text-primary">Travel Details</h3>

<div id="stList">
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Travel Info</h4>
            </div>
            <div class="modal-body">

                <input type="hidden" id="hndScheduleTravelId" />
                <div class="row">
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.CarName)
                        @Html.TextBoxFor(model => model.CarName, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.RegNo)
                        @Html.TextBoxFor(model => model.RegNo, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-8">
                                @Html.LabelFor(model => model.OutTime)
                                @Html.TextBoxFor(model => model.OutTime, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                <br />
                                <input type="button" value="Out" id="btnOut" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <br />
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.DriverName)
                        @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.DriverContactNo)
                        @Html.TextBoxFor(model => model.DriverContactNo, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-8">
                                @Html.LabelFor(model => model.InTime)
                                @Html.TextBoxFor(model => model.InTime, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                <br />
                                <input type="button" value="In" id="btnIn" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <br />
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.FromLocation)
                        @Html.TextBoxFor(model => model.FromLocation, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.ToLocation)
                        @Html.TextBoxFor(model => model.ToLocation, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        <label id="lblMessage" style="color: red; font: 87.5%/1.5em 'Open Sans', sans-serif;"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        TravelTimeList();
    });


    function TravelTimeList() {
        $.ajax({
            type: "GET",
            url: "../Cabs/TravelTimeList",
            data: { Month: "", Year: "", FromDate: "", ToDate: "" },
            success: function (result) {
                var div = $('#stList');
                div.html("<div>");
                if (result == "") {
                    var table = $('<table></table>').attr('id', 'table').addClass('table table-condensed table-bordered');
                    var head = $('<thead></thead>').html('<th>Date</th><th>Time</th>');
                    var data = $('<tbody></tbody>').html('<tr><td colspan="2" style="text-align:center; color:red; font-weight:bold;">No Records Found</td></tr>');
                    table.append(head)
                    table.append(data)
                    div.append(table);
                }
                else {
                    var table = $('<table></table>').attr('id', 'table').addClass('table table-condensed table-bordered');
                    var head = $('<thead></thead>').html('<tr><th>Date</th><th>0:00 - 2:00</th><th>2:00 - 4:00</th><th> 4:00 - 6:00</th><th>6:00 - 8:00</th><th>8:00 - 10:00</th><th>10:00 - 12:00</th><th>12:00 - 14:00</th><th>14:00 - 16:00</th><th>16:00 - 18:00</th><th>18:00 - 20:00</th><th>20:00 - 22:00</th><th>22:00 - 24:00</th></tr>');
                    table.append(head)
                    $.each(result, function (i, item) {
                        if (item.Message == "") {

                            var rowSpan = item.RowSpan;

                            obj = JSON.parse(item.Details);
                            for (var j = 0; j < obj.length; j++) {

                                var col1 = "";
                                var col2 = "";
                                var col3 = "";
                                var col4 = "";
                                var col5 = "";
                                var col6 = "";
                                var col7 = "";
                                var col8 = "";
                                var col9 = "";
                                var col10 = "";
                                var col11 = "";
                                var col12 = "";


                                var timeVal = obj[j].Time.replace(/:/g, ".");
                                if (timeVal >= 0.00 && timeVal <= 1.59) {
                                    col1 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 2.00 && timeVal <= 3.59) {
                                    col2 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 4.00 && timeVal <= 5.59) {
                                    col3 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 6.00 && timeVal <= 7.59) {
                                    col4 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 8.00 && timeVal <= 9.59) {
                                    col5 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 10.00 && timeVal <= 11.59) {
                                    col6 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 12.00 && timeVal <= 13.59) {
                                    col7 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 14.00 && timeVal <= 15.59) {
                                    col8 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 16.00 && timeVal <= 17.59) {
                                    col9 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 18.00 && timeVal <= 19.59) {
                                    col10 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 20.00 && timeVal <= 21.59) {
                                    col11 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }

                                if (timeVal >= 22.00 && timeVal <= 23.59) {
                                    col12 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;
                                }


                                if (j == 0) {
                                    var data = $('<tr></tr>').html('<td rowspan=' + rowSpan + ' style="background-color:#fff;"><b>' + item.TravelDate + '</b></td><td>' + col1 + '</td><td>' + col2 + '</td><td>' + col3 + '</td><td>' + col4 + '</td><td>' + col5 + '</td><td>' + col6 + '</td><td>' + col7 + '</td><td>' + col8 + '</td><td>' + col9 + '</td><td>' + col10 + '</td><td>' + col11 + '</td><td>' + col12 + '</td>')
                                    table.append(data)
                                }
                                else {
                                    var data = $('<tr></tr>').html('<td>' + col1 + '</td><td>' + col2 + '</td><td>' + col3 + '</td><td>' + col4 + '</td><td>' + col5 + '</td><td>' + col6 + '</td><td>' + col7 + '</td><td>' + col8 + '</td><td>' + col9 + '</td><td>' + col10 + '</td><td>' + col11 + '</td><td>' + col12 + '</td>')
                                    table.append(data)
                                }
                            }
                        }
                        else {
                            var data = $('<tbody></tbody>').html('<tr><td colspan="13" style="text-align:center; color:red; font-weight:bold;">No Records Found</td></tr>');
                            table.append(data)
                        }
                    });
                    div.append(table);
                    div.append("</div>");
                }
            }
        });
    }

    function ScheduleTravelEdit(ScheduleTravelId) {
        $('#hndScheduleTravelId').val(ScheduleTravelId);
        $.ajax({
            type: "GET",
            url: "../Account/ScheduleTravelEdit",
            data: { ScheduleTravelId: ScheduleTravelId },
            success: function (result) {
                $.each(result, function (i, item) {
                    $('#CarName').val(item.CarName);
                    $('#RegNo').val(item.RegNo);
                    $('#DriverName').val(item.DriverName);
                    $('#DriverContactNo').val(item.DriverContactNo);
                    $('#FromLocation').val(item.FromLocation);
                    $('#ToLocation').val(item.ToLocation);
                    $('#OutTime').val(item.OutTime);
                    $('#InTime').val(item.InTime);
                });
            }
        });
        InOutbtnAccess();
    }

    $("body").on("click", "img", function () {
        ScheduleTravelEdit(this.id);
        InOutbtnAccess();
    });

    function InOutbtnAccess() {

        $('#lblMessage').html('');

        //if ($('#OutTime').val() != '') {
        //    $('#btnOut').removeAttr('disabled');
        //}
        //else {
        //    $('#btnOut').attr('disabled');
        //}

        //if ($('#InTime').val() != '') {
        //    $('#btnIn').removeAttr('disabled');
        //}
        //else {
        //    $('#btnIn').attr('disabled');
        //}
    }


    $('input[type=button]').click(function (e) {

        var clkbtn = $(this).attr('id');
        switch (clkbtn) {
            case 'btnOut':
                // Confirmation Alert
                ScheduleTravelUpdateInandOutTime($('#hndScheduleTravelId').val(), "False", "True");
                break;
            case 'btnIn':
                // Confirmation Alert
                ScheduleTravelUpdateInandOutTime($('#hndScheduleTravelId').val(), "True", "False");
                break;

            default:
        }

    });

    function ScheduleTravelUpdateInandOutTime(ScheduleTravelId, InTime, OutTime) {

        $.ajax({
            type: "POST",
            url: "../Account/ScheduleTravelUpdateInandOutTime",
            data: { ScheduleTravelId: ScheduleTravelId, IsInTime: InTime, IsOutTime: OutTime },
            success: function (result) {
                //alert(result);
                $('#lblMessage').text(result);
            }
        });

        ScheduleTravelEdit(ScheduleTravelId);
    }

</script>



