﻿@model Cabs.Models.TravelTimingModels


<style>
    .modal {
      text-align: center;
      padding: 0!important;
    }

    .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
</style>


<br />
<h3 class="page-header text-primary">Travel Details</h3>

<div id="stList" class="container-fluid">
    
</div>

<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Travel Info</h4>
            </div>
            <div class="modal-body">

                <input type="hidden" id="hndScheduleTravelId" />
                <div class="row">
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.CarName)
                        @Html.TextBoxFor(model => model.CarName, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.RegNo)
                        @Html.TextBoxFor(model => model.RegNo, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-8">
                                @Html.LabelFor(model => model.OutTime)
                                @Html.TextBoxFor(model => model.OutTime, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                <br />
                                <input type="button" value="Out" id="btnOut" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <br />
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.DriverName)
                        @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.DriverContactNo)
                        @Html.TextBoxFor(model => model.DriverContactNo, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-8">
                                @Html.LabelFor(model => model.InTime)
                                @Html.TextBoxFor(model => model.InTime, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                <br />
                                <input type="button" value="In" id="btnIn" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <br />
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.FromLocation)
                        @Html.TextBoxFor(model => model.FromLocation, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.ToLocation)
                        @Html.TextBoxFor(model => model.ToLocation, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-4">
                        <label id="lblMessage"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        //Layout page li
        $('#liTimings').addClass('active');
        $('#liHome').removeClass('active');
        $('#liRegister').removeClass('active');
        $('#liAccount').removeClass('active');
        $('#liAbout').removeClass('active');
        $('#liContact').removeClass('active');

        TravelTimeList();
    });


    function TravelTimeList() {
        $.ajax({
            type: "GET",
            url: "../Cabs/TravelTimeList",
            data: { Month: "", Year: "", FromDate: "", ToDate: "" },
            success: function (result) {
                var div = $('#stList');
                div.html("<div>");
                if (result == "") {
                    var table = $('<table></table>').attr('id', 'table').addClass('table table-condensed table-bordered');
                    var head = $('<thead></thead>').html('<th>Date</th><th>Time</th>');
                    var data = $('<tbody></tbody>').html('<tr><td colspan="2" style="text-align:center; color:red; font-weight:bold;">No Records Found</td></tr>');
                    table.append(head)
                    table.append(data)
                    div.append(table);
                }
                else {
                    var table = $('<table></table>').attr('id', 'table').addClass('table table-condensed table-bordered');
                    var head = $('<thead></thead>').html('<tr><th width="10%">Date</th><th width="10%">Time</th><th>Details</th><th width="5%"></th</tr>');
                    table.append(head)
                    $.each(result, function (i, item) {
                        if (item.Message == "") {

                            var rowSpan = item.RowSpan;

                            obj = JSON.parse(item.Details);
                            for (var j = 0; j < obj.length; j++) {

                                var col1 = "";
                                var col2 = "";
                                var col3 = "";
                                var col4 = "";


                                var timeVal = obj[j].Time.replace(/:/g, ".");
                                
                                col1 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/caricon.png' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>" + obj[j].Time;

                                col2 = "<div class='row'><div class='col-sm-3'>Car Name: <b>" + obj[j].CarName + "</b><br/>Car No: <b>" + obj[j].RegNo + "</b></div>";
                                col2 += "<div class='col-sm-3'>From Location: <b>" + obj[j].FromLoc + "</b><br/>To Location: <b>" + obj[j].ToLoc + "</b></div>";
                                col2 += "<div class='col-sm-3'>Driver Name: <b>" + obj[j].DriverName + "</b><br/>Contact Number: <b>" + obj[j].DriverConNo + "</b></div>";
                                col2 += "<div class='col-sm-3'>Out Time: <b>" + obj[j].OutTime + "</b><br/>In Time: <b>" + obj[j].InTime + "</b></div></div>";

                                if (j == 0) {
                                    var data = $('<tr></tr>').html('<td rowspan=' + rowSpan + ' style="background-color:#fff;"><b>' + item.TravelDate + '</b></td><td>' + col1 + '</td><td>' + col2 + '</td><td>' + col3 + '</td>')
                                    table.append(data)
                                }
                                else {
                                    var data = $('<tr></tr>').html('<td>' + col1 + '</td><td>' + col2 + '</td><td>' + col3 + '</td>')
                                    table.append(data)
                                }
                            }
                        }
                        else {
                            var data = $('<tbody></tbody>').html('<tr><td colspan="3" style="text-align:center; color:red; font-weight:bold;">No Records Found</td></tr>');
                            table.append(data)
                        }
                    });
                    div.append(table);
                    div.append("</div>");
                }
            }
        });
    }

    function ScheduleTravelEdit(ScheduleTravelId) {
        $('#hndScheduleTravelId').val(ScheduleTravelId);
        $.ajax({
            type: "GET",
            url: "../Account/ScheduleTravelEdit",
            data: { ScheduleTravelId: ScheduleTravelId },
            success: function (result) {
                $.each(result, function (i, item) {
                    $('#CarName').val(item.CarName);
                    $('#RegNo').val(item.RegNo);
                    $('#DriverName').val(item.DriverName);
                    $('#DriverContactNo').val(item.DriverContactNo);
                    $('#FromLocation').val(item.FromLocation);
                    $('#ToLocation').val(item.ToLocation);
                    $('#OutTime').val(item.OutTime);
                    $('#InTime').val(item.InTime);
                });
            }
        });
        InOutbtnAccess();
    }

    $("body").on("click", "img", function () {
        ScheduleTravelEdit(this.id);
        InOutbtnAccess();
    });

    function InOutbtnAccess() {
        if ($('#OutTime').val() != '') {
            $('#btnOut').removeAttr('disabled');
        }
        else {
            $('#btnOut').attr('disabled');
        }

        if ($('#InTime').val() != '') {
            $('#btnIn').removeAttr('disabled');
        }
        else {
            $('#btnIn').attr('disabled');
        }
    }


    $('input[type=button]').click(function (e) {

        var clkbtn = $(this).attr('id');
        switch (clkbtn) {
            case 'btnOut':
                // Confirmation Alert
                ScheduleTravelUpdateInandOutTime($('#hndScheduleTravelId').val(), "False", "True");
                break;
            case 'btnIn':
                // Confirmation Alert
                ScheduleTravelUpdateInandOutTime($('#hndScheduleTravelId').val(), "True", "False");
                break;
            
            default:      
        }

    });

        function ScheduleTravelUpdateInandOutTime(ScheduleTravelId, InTime, OutTime) {

            $.ajax({
                type: "POST",
                url: "../Account/ScheduleTravelUpdateInandOutTime",
                data: { ScheduleTravelId: ScheduleTravelId, IsInTime: InTime, IsOutTime: OutTime },
                success: function (result) {
                    //alert(result);
                    $('#lblMessage').text(result);
                }
            });

            ScheduleTravelEdit(ScheduleTravelId);
        }

</script>