﻿<style>
    .agenda
    {
    }

        /* Dates */
        .agenda .agenda-date
        {
            width: 170px;
        }

            .agenda .agenda-date .dayofmonth
            {
                width: 40px;
                font-size: 36px;
                line-height: 36px;
                float: left;
                text-align: right;
                margin-right: 10px;
            }

            .agenda .agenda-date .shortdate
            {
                font-size: 0.75em;
            }


        /* Times */
        .agenda .agenda-time
        {
            width: 140px;
        }


        /* Events */
        .agenda .agenda-events
        {
        }

            .agenda .agenda-events .agenda-event
            {
            }
</style>

<div id="stList" class="agenda">
    
</div>

<script type="text/javascript">

    $(document).ready(function () {

        TravelTimeList();

        function TravelTimeList() {
            $.ajax({
                type: "POST",
                url: "../Cabs/TravelTimeList",
                data: { Month: "", Year: "", FromDate: "", ToDate: "" },
                success: function (result) {
                    var div = $('#stList');
                    div.html("<div class='table-responsive'>");
                    if (result == "") {
                        var table = $('<table></table>').attr('id', 'table').addClass('table table-condensed table-bordered');
                        var head = $('<thead></thead>').html('<th>Date</th><th>Time</th>');
                        var data = $('<tbody></tbody>').html('<tr><td colspan="2"></td></tr>');
                        table.append(head)
                        table.append(data)
                        div.append(table);
                    }
                    else {
                        var table = $('<table></table>').attr('id', 'table').addClass('table table-condensed table-bordered');
                        var head = $('<thead></thead>').html('<tr><th>Date</th><th>0:00 - 1:59</th><th>2:00 - 3:59</th><th> 4:00 - 5:59</th><th>6:00 - 7:59</th><th>8:00 - 9:59</th><th>10:00 - 11:59</th><th>12:00 - 13:59</th><th>14:00 - 15:59</th><th>16:00 - 17:59</th><th>18:00 - 19:59</th><th>20:00 - 21:59</th><th>22:00 - 23:59</th></tr>');
                        table.append(head)
                        $.each(result, function (i, item) {
                            if (item.Message == "") {

                                var col1 = "";
                                var col2 = "";
                                var col3 = "";
                                var col4 = "";
                                var col5 = "";
                                var col6 = "";
                                var col7 = "";
                                var col8 = "";
                                var col9 = "";
                                var col10 = "";
                                var col11 = "";
                                var col12 = "";

                               
                                obj = JSON.parse(item.Details);
                                for (var j = 0; j < obj.length; j++) {
                                    
                                    var timeVal = obj[j].Time.replace(/:/g, ".");
                                    if (timeVal >= 0.00 && timeVal <= 1.59) {
                                        col1 = obj[j].Time;
                                    }

                                    if (timeVal >= 2.00 && timeVal <= 3.59) {
                                        col2 = obj[j].Time;
                                    }

                                    if (timeVal >= 4.00 && timeVal <= 5.59) {
                                        col3 = obj[j].Time;
                                    }

                                    if (timeVal >= 6.00 && timeVal <= 7.59) {
                                        col4 = obj[j].Time;
                                    }

                                    if (timeVal >= 8.00 && timeVal <= 9.59) {
                                        col5 = obj[j].Time;
                                    }

                                    if (timeVal >= 10.00 && timeVal <= 11.59) {
                                        col6 = obj[j].Time;
                                    }

                                    if (timeVal >= 12.00 && timeVal <= 13.59) {
                                        col7 = "<a href='javascript:void(0)'><img src='../Images/caricon.png' width='50px' height='50px'/></a>" + obj[j].Time;
                                    }

                                    if (timeVal >= 14.00 && timeVal <= 15.59) {
                                        col8 = obj[j].Time;
                                    }

                                    if (timeVal >= 16.00 && timeVal <= 17.59) {
                                        col9 = obj[j].Time;
                                    }

                                    if (timeVal >= 18.00 && timeVal <= 19.59) {
                                        col10 = obj[j].Time;
                                    }

                                    if (timeVal >= 20.00 && timeVal <= 21.59) {
                                        col11 = obj[j].Time;
                                    }

                                    if (timeVal >= 22.00 && timeVal <= 23.59) {
                                        col12 = obj[j].Time;
                                    }
                                    
                                    
                                    if (j == 0) {
                                        var data = $('<tbody></tbody>').html('<tr><td><b>' + item.TravelDate + '</b></td><td>' + col1 + '</td><td>' + col2 + '</td><td>' + col3 + '</td><td>' + col4 + '</td><td>' + col5 + '</td><td>' + col6 + '</td><td>' + col7 + '</td><td>' + col8 + '</td><td>' + col9 + '</td><td>' + col10 + '</td><td>' + col11 + '</td><td>' + col12 + '</td></tr>')
                                        table.append(data)
                                    }
                                    else {
                                        var data = $('<tbody></tbody>').html('<tr><td></td><td>' + col1 + '</td><td>' + col2 + '</td><td>' + col3 + '</td><td>' + col4 + '</td><td>' + col5 + '</td><td>' + col6 + '</td><td>' + col7 + '</td><td>' + col8 + '</td><td>' + col9 + '</td><td>' + col10 + '</td><td>' + col11 + '</td><td>' + col12 + '</td></tr>')
                                        table.append(data)
                                    }
                                }      
                            }
                            else {
                                var data = $('<tbody></tbody>').html('<tr><td colspan="13"></td></tr>');
                                table.append(data)
                            }
                        });
                        div.append(table);
                        div.append("</div>");
                    }
                }
            });
        }

    });

</script>

