﻿@model Cabs.Models.TravelTimingModels


<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">

    @Styles.Render("~/Content/bootstrap.min.css")

    @Styles.Render("~/Content/full-slider.css")

    @Scripts.Render("~/Scripts/jquery-1.11.1.min.js")

    @Scripts.Render("~/Scripts/jquery.cookie.js")

    @Scripts.Render("~/Scripts/bootstrap.min.js")

  <title>Travel Details</title>
  
    <style>
        html
        {
            background: url(../../Images/Car4.jpg) repeat-y center;
            height: 100%;
            overflow: hidden;
        }

        body
        {
            height: 100%;
            margin: 0;
            color: #fff;
            background: rgba(40,57,101,.9);
            overflow: scroll;
        }

        p
        {
            margin: 0 0 1.5em;
        }

        body::-webkit-scrollbar
        {
            width: 1em;
        }

        body::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        body::-webkit-scrollbar-thumb
        {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }



        *, :after, :before
        {
            box-sizing: border-box;
        }

        .clearfix:after, .clearfix:before
        {
            content: '';
            display: table;
        }

        .clearfix:after
        {
            clear: both;
            display: block;
        }

        a
        {
            color: inherit;
            text-decoration: none;
        }

            a:hover
            {
                color: #fff;
            }


        .divTravelInfo
        {
            width: 100%;
            height: 100%;
            padding: 10px 70px 50px 70px;
        }

        .lblStyle
        {
            color: #000000;
            font-weight: normal;
        }


        
    </style>

  
</head>

<body>

    <div class="divTravelInfo">

        <h3 class="page-header text-primary" style="color: #fff;">Travel Details</h3>
        <div id="showhideFilter">
            <a href="Index">Home</a> |
            <a id="chkFilter" href="javascript:void(0)" style="color:white;">Show Filter</a>
        </div>
        <br />
        <div id="divFilter">
            <div class="row">
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.FromDate)
                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @type = "date" })
                </div>
                
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.ToDate)
                   @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @type = "date" })
                </div>

                <div class="col-sm-2">
                    <label>Select Year</label><br />
                    <select id="Year" style="color:black;" class="form-control">
                        <option value="">--Select--</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <label>Select Month</label><br />
                    <select id="Month" style="color:black;" class="form-control">
                        @for (Int16 i = 0; i < 12; i++)
                        {
                            if (i == 0)
                            {
                                <option value="">--Select--</option>
                                <option value="@(i + 1)">@System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                            }
                            else
                            {
                                <option value="@(i + 1)">@System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <br />
                    <input type="submit" value="Search" class="btn btn-primary"  />
                </div>

            </div>

        </div>
        <div id="validatemsgDiv">
        </div>
        <br />
        <div id="stList" class="container-fluid">
        </div>

        <div class="modal" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Travel Info</h4>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" id="hndScheduleTravelId" />
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.CarName, new { @class = "lblStyle" })
                                @Html.TextBoxFor(model => model.CarName, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.RegNo, new { @class = "lblStyle" })
                                @Html.TextBoxFor(model => model.RegNo, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-8">
                                        @Html.LabelFor(model => model.OutTime, new { @class = "lblStyle" })
                                        @Html.TextBoxFor(model => model.OutTime, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                    <div class="col-sm-4">
                                        <br />
                                        <input type="button" value="Out" id="btnOut" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <br />
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.DriverName, new { @class = "lblStyle" })
                                @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.DriverContactNo, new { @class = "lblStyle" })
                                @Html.TextBoxFor(model => model.DriverContactNo, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-8">
                                        @Html.LabelFor(model => model.InTime, new { @class = "lblStyle" })
                                        @Html.TextBoxFor(model => model.InTime, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                    <div class="col-sm-4">
                                        <br />
                                        <input type="button" value="In" id="btnIn" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <br />
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.FromLocation, new { @class = "lblStyle" })
                                @Html.TextBoxFor(model => model.FromLocation, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.ToLocation, new { @class = "lblStyle" })
                                @Html.TextBoxFor(model => model.ToLocation, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-4">
                                <div id="msgDiv">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wait" style="display: none; width: 69px; height: 89px; border: 1px solid black; position: absolute; top: 50%; left: 50%; padding: 2px;">
        <img src='../Images/_wait.gif' width="64" height="64" />
        <br />
        Loading..
    </div>


    <script type="text/javascript">

        $(document).ready(function () {
            //Layout page li
            $('#liTimings').addClass('active');
            $('#liHome').removeClass('active');
            $('#liRegister').removeClass('active');
            $('#liAccount').removeClass('active');
            $('#liAbout').removeClass('active');
            $('#liContact').removeClass('active');

            $('#divFilter').hide();

            TravelTimeList();
        });

        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
        });

        $("#showhideFilter").on("click", "a", function () {

            if ($(this).html() == "Show Filter") {
                $(this).html("Hide Filter");
            }
            else {
                $(this).html("Show Filter");
            }
            
            $('#divFilter').toggle(500);
        });

        $('input[type=submit]').click(function (e) {
            if (Validate()) {
                $('#validatemsgDiv').html('');
                TravelTimeList();
            }
        });

        function Validate() {

            var div = $('#validatemsgDiv');
            var msg = "";

            if ($('#Month').val() == "" && $('#Year').val() == "" && $('#FromDate').val() == "" && $('#ToDate').val() == "") {
                msg += "Please select either month and year or from date and to date."
            }
            else if ($('#Month').val() == "" && $('#Year').val() != "" && $('#FromDate').val() == "" && $('#ToDate').val() == "") {
                msg += "Please Select Month."
            }
            else if ($('#Year').val() == "" && $('#Month').val() != "" && $('#FromDate').val() == "" && $('#ToDate').val() == "") {
                msg += "Please Select Year."
            }
            else if ($('#Year').val() == "" && $('#Month').val() == "" && $('#FromDate').val() != "" && $('#ToDate').val() == "") {
                msg += "Please Select To Date."
            }
            else if ($('#Year').val() == "" && $('#Month').val() == "" && $('#FromDate').val() == "" && $('#ToDate').val() != "") {
                msg += "Please Select From Date."
            }

            if (msg != "") {
                div.html("<br/><div class='alert alert-danger'>" + msg + "</div>");
                return false;
            }

            return true;
        }


        function TravelTimeList() {
            $.ajax({
                type: "GET",
                url: "../Cabs/TravelTimeList",
                data: { Month: $('#Month').val(), Year: $('#Year').val(), FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val() },
                success: function (result) {
                    var div = $('#stList');
                    div.html("<div>");
                    if (result == "") {
                        var table = $('<table></table>').attr('id', 'table').addClass('table table-condensed table-bordered');
                        var head = $('<thead></thead>').html('<th>Date</th><th>Time</th>');
                        var data = $('<tbody></tbody>').html('<tr><td colspan="2" style="text-align:center; color:red; font-weight:bold;">No Records Found</td></tr>');
                        table.append(head)
                        table.append(data)
                        div.append(table);
                    }
                    else {
                        var table = $('<table></table>').attr('id', 'table').addClass('table table-condensed table-bordered');
                        var head = $('<thead></thead>').html('<tr><th width="10%">Date</th><th width="10%">Time</th><th>Details</th></tr>');
                        table.append(head)
                        $.each(result, function (i, item) {
                            if (item.Message == "") {

                                var rowSpan = item.RowSpan;

                                obj = JSON.parse(item.Details);
                                for (var j = 0; j < obj.length; j++) {

                                    var col1 = "";
                                    var col2 = "";
                                    var col3 = "";
                                    var col4 = "";


                                    var timeVal = obj[j].Time.replace(/:/g, ".");

                                    col1 = "<a href='javascript:void(0)'><img id=" + obj[j].Id + " alt='edit' src='../Images/stcar.png' width='30px' height='25px' data-toggle='modal' data-target='#myModal' data-backdrop='static' width='50px' height='50px'/></a>  " + obj[j].Time;

                                    col2 = "<div class='row'><div class='col-sm-3'>Car Name: " + obj[j].CarName + "<br/>Car No: " + obj[j].RegNo + "</div>";
                                    col2 += "<div class='col-sm-3'>From Location: " + obj[j].FromLoc + "<br/>To Location: " + obj[j].ToLoc + "</div>";
                                    col2 += "<div class='col-sm-3'>Driver Name: " + obj[j].DriverName + "<br/>Contact Number: " + obj[j].DriverConNo + "</div>";
                                    col2 += "<div class='col-sm-3'>Out Time: " + obj[j].OutTime + "<br/>In Time: " + obj[j].InTime + "</div></div>";

                                    if (j == 0) {
                                        var data = $('<tr></tr>').html('<td rowspan=' + rowSpan + '><b>' + item.TravelDate + '</b></td><td>' + col1 + '</td><td>' + col2 + '</td>')
                                        table.append(data)
                                    }
                                    else {
                                        var data = $('<tr></tr>').html('<td>' + col1 + '</td><td>' + col2 + '</td>')
                                        table.append(data)
                                    }
                                }
                            }
                            else {
                                var data = $('<tbody></tbody>').html('<tr><td colspan="2" style="text-align:center; color:red; font-weight:bold;">No Records Found</td></tr>');
                                table.append(data)
                            }
                        });
                        div.append(table);
                        div.append("</div>");
                    }
                }
            });
        }

        function ScheduleTravelEdit(ScheduleTravelId) {
            $('#hndScheduleTravelId').val(ScheduleTravelId);
            $.ajax({
                type: "GET",
                url: "../Account/ScheduleTravelEdit",
                data: { ScheduleTravelId: ScheduleTravelId },
                success: function (result) {
                    $.each(result, function (i, item) {
                        $('#CarName').val(item.CarName);
                        $('#RegNo').val(item.RegNo);
                        $('#DriverName').val(item.DriverName);
                        $('#DriverContactNo').val(item.DriverContactNo);
                        $('#FromLocation').val(item.FromLocation);
                        $('#ToLocation').val(item.ToLocation);
                        $('#OutTime').val(item.OutTime);
                        $('#InTime').val(item.InTime);
                    });
                }
            });
            InOutbtnAccess();
        }

        $("body").on("click", "img", function () {
            ScheduleTravelEdit(this.id);
            InOutbtnAccess();
        });

        function InOutbtnAccess() {
            $('#msgDiv').html('');

            //if ($('#OutTime').val() != '') {
            //    $('#btnOut').removeAttr('disabled');
            //}
            //else {
            //    $('#btnOut').attr('disabled');
            //}

            //if ($('#InTime').val() != '') {
            //    $('#btnIn').removeAttr('disabled');
            //}
            //else {
            //    $('#btnIn').attr('disabled');
            //}
        }


        $('input[type=button]').click(function (e) {

            var clkbtn = $(this).attr('id');
            switch (clkbtn) {
                case 'btnOut':
                    // Confirmation Alert
                    ScheduleTravelUpdateInandOutTime($('#hndScheduleTravelId').val(), "False", "True");
                    break;
                case 'btnIn':
                    // Confirmation Alert
                    ScheduleTravelUpdateInandOutTime($('#hndScheduleTravelId').val(), "True", "False");
                    break;

                default:
            }

        });

        function ScheduleTravelUpdateInandOutTime(ScheduleTravelId, InTime, OutTime) {

            $.ajax({
                type: "POST",
                url: "../Account/ScheduleTravelUpdateInandOutTime",
                data: { ScheduleTravelId: ScheduleTravelId, IsInTime: InTime, IsOutTime: OutTime },
                success: function (result) {
                    if (result == "Time Updated Successfully.") {
                        $('#msgDiv').html("<div class='alert alert-success'>" + result + "</div>");
                    }
                    else {
                        $('#msgDiv').html("<div class='alert alert-danger'>" + result + "</div>");
                    }    
                }
            });

            ScheduleTravelEdit(ScheduleTravelId);
        }

</script>
  
  
</body>
</html>
