﻿@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid"> 
    <div class="content-row"> 
        <div id="side-menu" class="sidebar col-md-2">
            @Html.Partial("../Shared/_MenuPartial");
        </div>
        <div id="div-content" class="main-content col-md-10">
            <div class="row">
                <div id="left" class="col-sm-1">
                    <div id="hidden-menu"><br /><br /><br /><input type="button" id="input-toggle-right" class="btn btn-inverse toggle-button-left" value=">>" /></div>
                </div>
                <div id="divContainer" class="mContainer">
            
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wait" style="display: none; width: 69px; height: 89px; border: 1px solid black; position: absolute; top: 50%; left: 50%; padding: 2px;">
    <img src='../Images/_wait.gif' width="64" height="64" />
    <br />
    Loading..
</div>

<script>

    $('#input-toggle-right').on('click', function () {
        $('#side-menu').animate({
            opacity: 'fast', // animate fadeOut
            width: 'show'  // animate slideUp
        }, 'fast', 'linear', function () {
            //$(this).remove();
        });
        $('#div-content').removeClass('col-md-12').addClass('col-md-10');
        $('#hidden-menu').hide();
    });

</script>
