﻿@*@model Cabs.Models.IndexModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Partial("_ImageSliderPartial")
<a href="#" class="scrollToTop">Scroll To Top</a>
<div id="TravelTiming">
    @Html.Partial("_TravelTimingsPartial")
</div>

<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnC" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("../Shared/_Login")
            </div>
        </div>
    </div>
</div>*@


@model Cabs.Models.IndexModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Partial("_ImageSliderPartial")
@*<a href="#" class="scrollToTop">Scroll To Top</a>*@
