﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <style>
        body
        {
            background: #2c3338;
            color: #606468;
            font: 87.5%/1.5em 'Open Sans', sans-serif;
            margin: 0;
        }

        input
        {
            border: none;
            font-family: 'Open Sans', Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5em;
            padding: 0;
            -webkit-appearance: none;
        }

        p
        {
            line-height: 1.5em;
        }

        after
        {
            clear: both;
        }

        .validation-summary-errors ul
        {
            list-style-type: none;
            background: #2c3338;
            color: red;
            font: 87.5%/1.5em 'Open Sans', sans-serif;
            margin: 0;
            text-align: center;
        }

        #login
        {
            margin: 50px auto;
            width: 320px;
        }

            #login form
            {
                margin: auto;
                padding: 22px 22px 22px 22px;
                width: 100%;
                border-radius: 5px;
                background: #282e33;
                border-top: 3px solid #434a52;
                border-bottom: 3px solid #434a52;
            }

                #login form span
                {
                    background-color: #363b41;
                    border-radius: 3px 0px 0px 3px;
                    border-right: 3px solid #434a52;
                    color: #606468;
                    display: block;
                    float: left;
                    line-height: 50px;
                    text-align: center;
                    width: 50px;
                    height: 50px;
                }

                #login form input[type="text"]
                {
                    background-color: #3b4148;
                    border-radius: 0px 3px 3px 0px;
                    color: #a9a9a9;
                    margin-bottom: 1em;
                    padding: 0 16px;
                    width: 235px;
                    height: 50px;
                }

                #login form input[type="password"]
                {
                    background-color: #3b4148;
                    border-radius: 0px 3px 3px 0px;
                    color: #a9a9a9;
                    margin-bottom: 1em;
                    padding: 0 16px;
                    width: 235px;
                    height: 50px;
                }

                #login form input[type="submit"]
                {
                    background: #204d74;
                    border: 0;
                    width: 100%;
                    height: 40px;
                    border-radius: 3px;
                    color: white;
                    cursor: pointer;
                    transition: background 0.3s ease-in-out;
                }

                    #login form input[type="submit"]:hover
                    {
                        background: #286090;
                    }
    </style>

</head>

<body>

    <div id="login">
        <form name='form-login' method="post" action="~/Cabs/Login">
            <span><img src="~/Images/user.png" width="15px"></span>
            <input type="text" id="UserName" name="UserName" placeholder="Username">

            <span><img src="~/Images/Safety.png" width="15px"></span>
            <input type="password" placeholder="Password" name="Password">

            <input type="submit" value="Login">
        </form>
    </div>

    @Html.ValidationSummary(true)

</body>
</html>
