﻿body
{
    background-color: #ffffff;
    color: #333333;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: "times new roman";
    font-size: 14px;
    line-height: 1.42857;
}

.header
{
    background-color: #373737;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.subheader
{
    background-color: #ffffff;
    border: 1px;
    border-style: solid;
    border-bottom-color: #4CAF50;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 999;
}

#MainMenu
{
    color: #ffffff;
    margin-top: 8px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: right;
}

    #MainMenu a
    {
        color: #ccc;
        text-decoration: none;
    }

        #MainMenu a:hover, a:active
        {
            color: #ffffff;
        }

.MainMenu-label
{
    color: #ccc;
    width: 50px;
}

#SubMenu
{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
    vertical-align: middle;
}

    #SubMenu a
    {
        color: #555;
        text-decoration: none;
    }

        #SubMenu a:hover, a:active
        {
            color: #000000;
        }

#logo
{
    width: 200px;
}

.subheader a
{
    color: #555;
    text-decoration: none;
}


.left
{
    float: left;
    width: 80px;
    text-align: right;
    display: inline;
}

.right
{
    float: left;
    text-align: right;
    vertical-align: top;
    display: inline;
}

#divlogin
{
    position: fixed;
    margin-top: 25px;
    background-color: #e8e8e8;
    height: 254px;
    width: 100%;
    display: none;
    z-index: 1000;
}

#divbag
{
    position: fixed;
    margin-top: 80px;
    margin-left: 860px;
    background-color: #ccc;
    /*height: 254px;*/
    width: 400px;
    display: none;
    z-index: 1000;
}


.container
{
    margin-top: 8px;
    margin-left: 100px;
    margin-right: 100px;
    display: table;
    /*width:90%;*/
    border-collapse: collapse;
}

.heading
{
    font-weight: bold;
    display: table-row;
    background-color: #C91622;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    font-family: georgia;
    color: #fff;
}

.table-row
{
    display: table-row;
    text-align: center;
    line-height: 50px;
}

.col
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    /*border: 1px solid #CCC;*/
}

.LeftMenu
{
    list-style: none;
}

.maincontent
{
    margin-left:40px;
    margin-right:40px;  
}

.content
{
    width: 100%;
    margin-top: 80px;
}

.content-row
{
    display: table-row;
    line-height: 30px;
}

.bag-row
{
    display: table-row;
    line-height: 30px;
}

.col-bag
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px;
    border-style: solid;
    border-bottom-color: #333333;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffffff;
    font-size: 1.2em;
    font-style: italic;
}

.list-col
{
    display: table-cell;
    padding-right: 20px;
    border-right-color: #333333;
}

.content-col
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 850px;
}



ul.list
{
    list-style: none;
}

    ul.list li
    {
        width: auto;
        width: 200px;
        padding-left: 5px;
        border: 1px solid #CCC;
        border-top: none;
        /*background-color: #4c4c4c;*/
    }

        ul.list li.litems:hover
        {
            background-color: #ccc;
            color: #fff;
            font-weight:bold;
        }

        ul.list li.litems a
        {
            text-decoration:none;
            color:#333333;
        }

        ul.list li.headerlist
        {
            border: 1px;
            border-style: solid;
            border-bottom-color: #84c225;
            border-top: none;
            border-left: none;
            border-right: none;
            color: #333333;
            font-size: 1.4em;
            /*background-color: #ffffff;*/
        }

.col-Qty-h
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 30px;
    border: 1px;
    border-style: solid;
    border-bottom-color: #84c225;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #333333;
    font-size: 1.2em;
    font-style: italic;
}

.col-Model-h
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 100px;
    border: 1px;
    border-style: solid;
    border-bottom-color: #84c225;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #333333;
    font-size: 1.2em;
    font-style: italic;
}

.col-Name-h
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 150px;
    border: 1px;
    border-style: solid;
    border-bottom-color: #84c225;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #333333;
    font-size: 1.2em;
    font-style: italic;
}

.col-Weight-h
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 100px;
    border: 1px;
    border-style: solid;
    border-bottom-color: #84c225;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #333333;
    font-size: 1.2em;
    font-style: italic;
}

.col-Price1-h
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 100px;
    border: 1px;
    border-style: solid;
    border-bottom-color: #84c225;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #333333;
    font-size: 1.2em;
    font-style: italic;
}

.col-Price2-h
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 100px;
    border: 1px;
    border-style: solid;
    border-bottom-color: #84c225;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #333333;
    font-size: 1.2em;
    font-style: italic;
}

.col-Add-h
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 50px;
    border: 1px;
    border-style: solid;
    border-bottom-color: #84c225;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #333333;
    font-size: 1.2em;
    font-style: italic;
}

.col-Qty
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 30px;
    vertical-align:middle;
}

.col-Model
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 100px;
    vertical-align:middle;
}

.col-Name
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 150px;
    vertical-align:middle;
}

.col-Weight
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 100px;
    vertical-align:middle;
}

.col-Price1
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 100px;
    vertical-align:middle;
}

.col-Price2
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 100px;
    vertical-align:middle;
}

.col-Add
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 50px;
    vertical-align:middle;
}

.col-Delete
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 50px;
    vertical-align:middle;
}

.col-empty
{
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    width: 400px;
}


.footer
{
    background-color: #373737;
    height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    color:#ccc;
    text-align:center;
    font-size:12px;
}
