﻿.textBoxStyle {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonStyle {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonStyle:hover {
    background-color: #45a049;
}

.divStyle {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.loginStyle
{
    position: absolute;
    left: 500px;
    top: 150px;
}

.textBoxCarStyle {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonCarStyle {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#container {
    display: table;
    }

  #row  {
    display: table-row;
    }

  #left {
    display: table-cell;
    }

  #right, #middle {
    display: table-cell;
    }


/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #fff; 
}
th { 
  background: #4CAF50; 
  color: white; 
  font-weight: lighter; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}