﻿/* Remove the navbar's default margin-bottom and rounded borders */
.navbar
{
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content
{
    height: 450px;
}

/* Set gray background color and 100% height */
.sidenav
{
    padding-top: 20px;
    background-color: #373737;
    height: 100%;
}

.list-group-item.active
{
    background-color: #373737;
}

    .list-group-item.active:hover
    {
        background-color: #373737;
    }
/*.list-group-item:hover
        {
            background-color: #373737;
            color:#fff;
        }*/


.btn-info
{
    color: #fff;
    background-color: #34495E;
    border-color: #23527c;
}

    .btn-info.focus,
    .btn-info:focus
    {
        color: #fff;
        background-color: #23527c;
        border-color: #34495E;
    }

    .btn-info:hover
    {
        color: #fff;
        background-color: #23527c;
        border-color: #34495E;
    }

a
{
    color: #000000;
}

    a:hover
    {
        color: #000000;
    }

.scrollToTop
{
    width: 100px;
    height: 130px;
    padding: 10px;
    text-align: center;
    background: whiteSmoke;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: fixed;
    top: 75px;
    right: 40px;
    display: none;
    background: url('../Images/no.png') no-repeat 0px 20px;
}

    .scrollToTop:hover
    {
        text-decoration: none;
    }



.ModuleContainer
{
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.mContainer
{
    padding-right: 15px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
}

.divPagingCtrl
{
    text-align:right;
}

#hidden-menu input
{
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 35px;
}

.menu-title
{
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px;
}

#divpMenu ul
{
    text-align: left;
}

#divpMenu li
{
    /*font-size: 12px;*/
    line-height: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

    #divpMenu li.Normal
    {
        /*font-size: 12px;*/
        line-height: 18px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #divpMenu li a:hover
    {
        display: block;
        /*font-weight: 900;*/
        text-decoration: none;
        background-color: #080808; /*#34495E;*/
        color: white;
        padding: 10px;
    }

    #divpMenu li.Selected
    {
        display: block;
        /*font-weight: 900;*/
        text-decoration: none;
        background-color: #080808; /*#34495E;*/
        color: white;
    }

    #divpMenu li a.Selected
    {
        color: white;
    }

    #divpMenu li a
    {
        display: block;
        /*font-weight: 700;*/
        text-transform: none;
        text-decoration: none;
        padding: 10px;
        color: #9d9d9d; /*#505050;*/
    }


.LeftMenu
{
    background: #222; /*#cfd8dc*/
    color: #fff;
    margin-left: -15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 50px;
    width: 240px;
    z-index: 60;
}

.mHeader
{
    background: #546e7a;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    /*font-weight: 500;
          font-size: 18px;*/
    left: 0;
    margin: 0;
    padding: 20px;
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: 1;
}

/*table {
        border-collapse: collapse;
        border-spacing: 0;
        border:0;
        margin: .5em 1em 1em 0;
        width:100%; 
        background: #34495E;
        color: #fff;
        border-radius: .4em;
        overflow: hidden;
        }

        th, td {
          padding: 4px 12px;
          vertical-align: top;
          text-align: left;
        }
        td {
          background-color:inherit;
        }
        td *:last-child {
          margin-bottom:0;
        }
        th {
          background-color: #ccc;
          color: #34495E;
          font-weight: bold;
        }
        tr.alt th {
          color:inherit;
          background-color: #e0e0e0;
        }
        tr:first-of-type th:first-of-type:empty {
          visibility: hidden;
        }*/


table
{
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    /*height: 320px;*/
    margin: auto;
    /*max-width: 600px;*/
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th
{
    color: #D5DDE5;
    background: #222;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    /*font-size:23px;
        font-weight: 100;*/
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

    th:first-child
    {
        border-top-left-radius: 3px;
    }

    th:last-child
    {
        border-top-right-radius: 3px;
        border-right: none;
    }

tr
{
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    /*font-size:16px;*/
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

    /*tr:hover td {
          background:#4E5066;
          color:#FFFFFF;
          border-top: 1px solid #22262e;
          border-bottom: 1px solid #22262e;
        }*/

    tr:first-child
    {
        border-top: none;
    }

    tr:last-child
    {
        border-bottom: none;
    }

    tr:nth-child(odd) td
    {
        background: #EBEBEB;
    }

    /*tr:nth-child(odd):hover td {
          background:#4E5066;
        }*/

    tr:last-child td:first-child
    {
        border-bottom-left-radius: 3px;
    }

    tr:last-child td:last-child
    {
        border-bottom-right-radius: 3px;
    }

td
{
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    /*font-weight:300;
        font-size:18px;*/
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

    td:last-child
    {
        border-right: 0px;
    }

th.text-left
{
    text-align: left;
}

th.text-center
{
    text-align: center;
}

th.text-right
{
    text-align: right;
}

td.text-left
{
    text-align: left;
}

td.text-center
{
    text-align: center;
}

td.text-right
{
    text-align: right;
}


body
{
    font-size: 13px;
}

.form-control
{
    border-radius: 0;
    height: 30px;
}

footer
{
    margin: 0px;
    padding: 3px 0;
    background-color: #222;
    color: #fff;
}

/*thead > tr > th {
            background-color: #222;
            color: #fff;
        }*/

.toggle-button-right
{
    padding: 2px 5px;
    background-color: #080808;
    color: #b3b3b3;
    float: right;
}

.toggle-button-left
{
    padding: 2px 5px;
    background-color: #080808;
    color: #b3b3b3;
    float: left;
}

/* Set black background color, white text and some padding */
footer
{
    background-color: #222;
    position: fixed;
    height: 20px;
    bottom: 0;
    width: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */


input, textarea, button { margin-top:10px }

/* Required field START */

.required-field-block {
    position: relative;   
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}
	
.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 1px;
    top: 1px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
	color: #B80000;
	font-size: 26px;
	margin: -3px 0 0 12px;
}
/* Required field END */
